.button1 {
    color: white;
    background: linear-gradient(90deg, #53889D 0%, #BBD1D9 100%);
    margin: 5px;
    border: none;
}

.button2 {
    color: white;
    background: linear-gradient(90deg, #F3A492 0%, #D96F6E 100%);
    margin: 5px;
    border: none;
}

.button3 {
    color: white;
    background: linear-gradient(90deg, #F2D05C 0%, #F3A492 100%);
    margin: 5px;
    border: none;
}

.button4 {
    color: white;
    background: linear-gradient(90deg, #F2D05C 0%, #F3A492 100%);
    margin: 5px;
    border: none;
}

.button5 {
    color: white;
    background: linear-gradient(90deg, #BBD1D9 0%, #F2D05C 92.86%);
    margin: 5px;
    border: none;
}
.button6 {
    color: white;
    background: linear-gradient(90deg, #D96F6E 0%, #F2D05C 100%);
    margin: 5px;
    border: none;
}
.button7 {
    color: white;
    background: linear-gradient(90deg, #53889D 0%, #BBD1D9 100%);
    margin: 5px;
    border: none;
}


.title,
.nav,
.article,
.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: green 1px solid;
}
.picture {
    display: flex;
    justify-content: center;
}
.class {
    border:indigo 1px solid;
}
.section {
    display: flex;
            border: violet 1px solid;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
        width: 600px;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #828282;
}
.text-following {
    color: #4F4F4F;
    font-weight: 400;
}
.text-title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 31,25;
}
.text-blue {
    color: #53889D;
}
.text-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.class {
    display: flex;
    flex-wrap: wrap;
}
.class1 {
    border: teal 1px solid;
    width: 100%;
    text-align: center;
    line-height: 8px;
}
.class2,
.class3 {
    width: 49%;
    border: solid 1px green;
    text-align: center;
    line-height: 0%;
}

.link {
    color: #D96F6E;
}

.img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6 {
        width: 220px;
    }

.main-link,
.nav-title,
.main-title{
    display: flex;
    justify-content: center;
    width: 100%;
}

.main-link {
    padding-top: 30px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}


@media screen and (min-width: 1024px) {
    .button1,
    .button2,
    .button3,
    .button4,
    .button5,
    .button6,
    .button7 {
        height: 40px;
        border-radius: 18px;
        flex-grow: 1;
    }
    
    .buttons {
        display: flex;
        justify-content: center;
        min-width: 1500px;
        flex-grow: 1;
    }
    .nav {
        min-width: 1500px;
    }
    .main {
        min-width: 1500px;
    }
    .main-link {
        display: flex;
        justify-content: center;
    }
.article {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    min-width: 1500px;
}
    .title {
        min-width: 1500px;
    }
    .picture {
        min-width: 1500px;
    }

}

@media screen and (max-width: 399px) {
    .button1,
    .button2,
    .button3,
    .button4,
    .button5,
    .button6,
    .button7 {
        height: 24px;
        border-radius: 8px;}
    
        .main-title {
            display: flex;
            justify-content: start;
        }
        
    .nav {
        min-width: 343px;
    }
    .main {
        min-width: 343px;
    }
    .main-link {
        display: flex;
        justify-content: start;
    }
    .title {
        min-width: 343px;
    }
    .picture {
        min-width: 343px;
    }
    .buttons {
        min-width: 343px;
        max-width: 343px;
    }
    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6 {
        width: 104px;
    }
}

@media screen and (min-width: 400px) and (max-width: 1023px) {
    .nav,
    .main,
    .title,
    .picture {min-width: 879px;
        max-width: 879px;
    }

    .button1,
    .button2,
    .button3,
    .button4,
    .button5,
    .button6,
    .button7 {
        height: 40px;
        border-radius: 16px;
    width: 100px;}

    .buttons {
        min-width: 911px;
    }
    .main-link {
        display: flex;
        justify-content: center;
    }
    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6 {
        width: 250px;
    }
    .nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}