.button1 {
    color: white;
    background: linear-gradient(90deg, #53889D 0%, #BBD1D9 100%);
    margin: 5px;
    border: none;
}

.button2 {
    color: white;
    background: linear-gradient(90deg, #F3A492 0%, #D96F6E 100%);
    margin: 5px;
    border: none;
}

.button3 {
    color: white;
    background: linear-gradient(90deg, #F2D05C 0%, #F3A492 100%);
    margin: 5px;
    border: none;
}

.button4 {
    color: white;
    background: linear-gradient(90deg, #F2D05C 0%, #F3A492 100%);
    margin: 5px;
    border: none;
}

.button5 {
    color: white;
    background: linear-gradient(90deg, #BBD1D9 0%, #F2D05C 92.86%);
    margin: 5px;
    border: none;
}
.button6 {
    color: white;
    background: linear-gradient(90deg, #D96F6E 0%, #F2D05C 100%);
    margin: 5px;
    border: none;
}
.button7 {
    color: white;
    background: linear-gradient(90deg, #53889D 0%, #BBD1D9 100%);
    margin: 5px;
    border: none;
}


.title,
.nav,
.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.picture {
    display: flex;
    justify-content: center;
}
.section {
    display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
        width: 200px;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #828282;
}
.text-following {
    color: #4F4F4F;
    font-weight: 400;
}
.text-title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
.text-blue {
    font-family: 'Montserrat', sans-serif;
    color: #53889D;
    padding-left: 10px;
    font-size: 20px;
}
.text-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.text-wishlist {
    color: #333333;
    font-weight: 700;
}
.class {
    display: flex;
    flex-wrap: wrap;
}
.class1 {
    width: 100%;
    text-align: center;
    line-height: 20px;
}
.class2,
.class3 {
    width: 49%;
    text-align: center;
    line-height: 0%;
}

.link {
    color: #D96F6E;
}
.main1 {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}
.books-title {
    display: flex;
    flex-grow: 1;
}





@media screen and (max-width: 399px) {
    .button1,
    .button2,
    .button3,
    .button4,
    .button5,
    .button6,
    .button7 {
        height: 24px;
        border-radius: 8px;}
    
        .button1 {
        width: 79px;
    }
    
    .button2 {
        width: 81px;
    }
    .button3 {
        width: 123px;
    }
    .button4 {
        width: 149px;
    }
    .button5 {
        width: 87px;
    }
        .button6 {
            width: 173px;
        }
        .button7 {
            width: 102px;
        }

.books {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
}
        .main-title {
            display: flex;
            justify-content: start;
            padding: 10px ;
            flex-grow: 1;
        }
    .nav {
        min-width: 343px;
        max-width: 343px;
    }
    .main1 {
        min-width: 343px;
        max-width: 343px;
    }

    .nav-title {
display: flex;
justify-content: start;
flex-grow: 1;
padding-left: 10px;
    }
.books-title {
    display: flex;
justify-content: start;
flex-grow: 1;
min-width: 343px;
max-width: 343px;
padding-left: 10px;
}
    .main {
        min-width: 343px;
        max-width: 343px;
    }
    .main-link {
        display: flex;
        justify-content: start;
        padding: 10px;
        min-width: 201px;
    }
    
    .title {
        min-width: 343px;
        max-width: 343px;
    }
    .picture {
        min-width: 343px;
        max-width: 343px;
    }
    .buttons {display: flex;
        justify-content: start;
        flex-wrap: wrap;
        min-width: 343px;
        max-width: 343px;

    }
    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6 {
        width: 104px;
        height: 130px;
    }
    .img7 {
        width: 124px;
        height: 180px;
    }
    .img8 {
        width: 124px;
        height: 200px;
    }
    .img9 {
        height: 200px;
    }
}




@media screen and (min-width: 400px) and (max-width: 1023px) {
    .nav,
    .main,
    .title,
    .picture,
    .main-link,
    .main1 {
        min-width: 911px;
        max-width: 911px;
    }
.article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.books {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-grow: 1;
    }

    .button1,
    .button2,
    .button3,
    .button4,
    .button5,
    .button6,
    .button7 {
        height: 40px;
        border-radius: 16px;
    width: 100px;}

    .buttons {
        min-width: 911px;
    }
    .main-link {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-grow: 1;
        padding-top: 30px;
    }
    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6 {
        width: 280px;
        height: 320px;
        font-size: 70px;
    }
    .img7
    {
        height: 200px;
    }
    .img8 {
    height: 200px;
    padding-left: 50px;

}
    .img9 {
        display: none;
    }
    .nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .main-title{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .books-title {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .main {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
}



@media screen and (min-width: 1024px) {
    .button1,
    .button2,
    .button3,
    .button4,
    .button5,
    .button6,
    .button7 {
        height: 40px;
        border-radius: 18px;
        height: 50px;
        width: 300px;
        font-size: 20px;
    }

    .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
    }

.title,
.nav,
.article,
.main,
.main1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav {
    min-width: 1500px;
}

    .nav-title {display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .main {
        min-width: 1500px;
    }
    .main1 {
        min-width: 1500px;
    }
    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6,
    .img7,
    .img8 {
        width: 220px;
        height: 280px;
    }
    
    .img9 {
        display: none;
    }
    .main1 {
        display: flex;
        flex-grow: 1;
        width: 100%;
        justify-content: center;
    }
    .books-title {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        width: 100%;
    }
    .main-link {
        display: flex;
        justify-content: center;
        width: 100%;
        min-width: 1500px;
        padding-top: 30px;
    }
    .main-title{
        display: flex;
        justify-content: center;
        width: 100%;
    }
.article {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    min-width: 1500px;
}
    .title {
        min-width: 1500px;
    }
    .picture {
        min-width: 1500px;
    }
}